/*-----------------basic setup------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'lato', 'arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizelegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '-';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*---------------------------------------------*/
/*-----------------reusable-------------------- */
/*---------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*-----------------header------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);/* this is used to add a dark overlay on the background image to make the text more visible and readable */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

section {
    padding: 80px 0;/*this helps to get space after every section top and bottom 80px and left,right 0*/ 
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.hero-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/* this is used to center the text in the middle of the page */   
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;/*this is used to give space between the text and the border when we hover over the link*/ /*8px is for top and bottom and 0 is for left and right*/
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;/*it prevents layout jumping*/  /*layout jumping means when we hover over the link and draw a orange line under because of this the text beside it moves automatically to avoid it we used border but we set it transparent so it is invisible but it takes space now the orange line will be on top of the transparent border and it will not cause any layout jumping*/
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*-------------headings------------------*/

h1,
h2,
h3 {/*this targets every html element with the tag name h1,h2,h3*//*.h1 would target every html element with the class name h1,h2,h3*/
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin: 0;
    font-size: 240%;
    color: #fff;
    word-spacing: 4px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after{/*the :after pseudo element is used to add elemets after the content of the element it is applied to*/
    display: block;
    height: 2px;
    width: 300px;
    background-color: #e67e22;
    content: " ";/*this is used to add content after the element it is applied to in this case we added a orange line after the h2 element*/
    margin: 0 auto;
    margin-top: 20px;
}

/*----------------feauters------------------*/
.section-feauters .long {
    margin-bottom: 30px;
}


/*----------------paragraphs------------------*/
.long {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

.box {
    padding: 1%;
}

/*----------------icons------------------*/
.icon-big {
    font-size: 300%;
    display: block;
    margin-bottom: 20px;
    color: #e67e22;
}



/*----------------buttons------------------*/

.btn:link,/*link means the button styling when u open the page for the first time*/
.btn:visited{/*visited means the button styling when u click on the button and then go back to the page again*/
    display: inline-block;/* inline-block allows us to set width and height in the same row like a line it is used when we need buttons horizantally*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;/* this is used to make the button change smoothly when we hover over it or click on it */
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 15px;/* this is used to give space between the two buttons */
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,/*hover means the button styling when u hover over the button with the mouse pointer*/
.btn:active {/*active means the button styling when u click on the button and hold it for a while*/
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/*-----------------meals-images------------------*/
.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    width: 25%;
    float: left;
    display: block;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;/* this is used to stop the img from taking more space than its container*/
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.150);/*transform: scale(.....) is used for make image or content big or small with out changing the layout*//* this is used to make the image bigger than its original size to create a zoom effect when we hover over it */
    transition: transform 0.5s, opacity 0.5s;/* this is used to make the image change smoothly when we hover over it */
}
.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);/* this is used to make the image smaller than its original size when we hover over it to create a zoom effect */
}

/*-----------------how it works------------------*/
.section-steps {
    background-color: #f4f4f4;
}

.step-box:first-child {
    text-align: right;/*this also works img because it a inline block element*/
    padding: 3%;
    margin-top: 30px;
}

.step-box:last-child{
    padding-left: 3%;
     margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 55px;
    width: 55px;
    height: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 30px;
}