* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #fff;
    color: #555;
    font-family: 'lato', 'arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizelegibility;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);/* this is used to add a dark overlay on the background image to make the text more visible and readable */
    background-size: cover;
    background-position: center;
    height: 100vh;
}
h1 {
    margin: 0;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.hero-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/* this is used to center the text in the middle of the page */   
}
.btn:link,/*link means the button styling when u open the page for the first time*/
.btn:visited{/*visited means the button styling when u click on the button and then go back to the page again*/
    display: inline-block;/* inline-block allows us to set width and height in the same row like a line it is used when we need buttons horizantally*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;/* this is used to make the button change smoothly when we hover over it or click on it */
}
.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 15px;/* this is used to give space between the two buttons */
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}
.btn:hover,/*hover means the button styling when u hover over the button with the mouse pointer*/
.btn:active {/*active means the button styling when u click on the button and hold it for a while*/
    background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;/*this is used to give space between the text and the border when we hover over the link*/ /*8px is for top and bottom and 0 is for left and right*/
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;/*it prevents layout jumping*/  /*layout jumping means when we hover over the link and draw a orange line under because of this the text beside it moves automatically to avoid it we used border but we set it transparent so it is invisible but it takes space now the orange line will be on top of the transparent border and it will not cause any layout jumping*/
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}